body {
  text-align: justify;
}

#banner_container {
  background-color:#fff;
  min-height:40%;
}
#banner {
  top:20%;
  position:relative;
}

#testimoni+div a {
  color:blue;
  text-decoration:underline;
}
#testimoni+div img {
  display:block;
  margin:auto;
}

#error {
  color:red;
}
#login tr, #login input[type="text"] {
  width:100%;
}
#login td {
  width:75%;
}
#login td:has(label), #login td:has(span) {
  text-align:justify;
}

#MenuAI_btn {
  position: fixed;
  right: 10px;
  bottom: 50vh;
  z-index: 1; /*appear above footer*/
  border-radius: 20px;
  background: #8bc34a;
  color: #fff;
}
#recommendation {
  overflow: auto;
  width: 100%;
  height: auto;
}
.loader {
  width: 30px;
  height: 30px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.bold{font-weight: bold;}
.normal-big{font-size: 30px;}
.dark-green{color: #005000;}